.main-container{
  display: flex;
  flex-direction: column;
  width: fit-content;
  text-align: center;
}
.box-location{
  display: inline-block;
  border: solid 1px #888;
  padding: 40px;
  margin: 1% 0 0 42%;
  width: 10%;
  text-align: center;
  cursor: pointer;
  border-radius: 40%;
  background-color: lightgray;
}
.box-location:hover{
  background-color: #ffffff;
  border: solid 1px #000;
}
.main-span{
  text-align: center;
  font-size: 30px;
  font-weight: 800;
}
.text-span{
  font-size: 30px;
  font-weight: 800;
  font-style: italic;
}
.text-div{
  text-align: center;
}
