<div class="main_container">
  <div class="text-div">
    <span class="main-span">Select City</span>
  </div>
  <div class="box-location" (click)="getLocation('bangalore')">
    <span class="text-span">Bangalore</span>
  </div>
  <div class="box-location" (click)="getLocation('mumbai')">
    <span class="text-span">Mumbai</span>
  </div>
  <div class="box-location" (click)="getLocation('delhi')">
    <span class="text-span">Delhi</span>
  </div>
  <div class="box-location" (click)="getLocation('pune')">
    <span class="text-span">Pune</span>
  </div>
  <div class="box-location" (click)="getLocation('hyderabad')">
    <span class="text-span">Hyderabad</span>
  </div>
</div>

